.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cdk-overlay-dark-backdrop {
background: #00000052;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}

.cdk-overlay-backdrop {
  position: absolute;
  inset: 0;
  z-index: 1000;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal-open { overflow-y: hidden; }


