<header>
  <img
    src="assets/img/johnny.jpg"
    alt="Johnny Silva - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  >
  <h1>Johnny Silva</h1>
</header>

<aside>
  <div class="container">
    <p>Front-End Angular</p>
    <p>Carnaubal, Ceará, Brasil</p>
    <p>Atuo como desenvolvedor Front-End Angular há mais de 5 anos.
      Tudo começou com um desafio de um CRUD de Angular e Spring boot durante o estágio,
      com isso, foquei mais no Angular e programo com esse Framework desde então.
    </p>
    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/cv.pdf"
            target="_blank"
            class="btn btn-primary"
          >
          Download CV
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/johnny-ferreira-66b582167/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>

      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.svg"
            alt="Icone para contato do whatsapp"
            width="22px"
            height="24px"
          />
          <figcaption>
            <a href="https://api.whatsapp.com/send?phone=5511984521265&text=Ol%C3%A1%2C%20preciso%20de%20um"></a>
            <strong>Envie uma mensagem para: </strong>
            <p>whatsapp: (11) 98452-1265</p>
          </figcaption>

        </figure>

        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Icone para contato do e-mail"
            width="22px"
            height="24px"
          />
          <figcaption>
            <a href="mailto:johnnysilva.dev@gmail.com"></a>
            <strong>Envie um e-mail para: </strong>
            <p>E-mail: johnnysilva.dev&#64;gmail.comsS</p>
          </figcaption>

        </figure>
      </section>
    </nav>
  </div>
</aside>
